
html{ 
    overflow-y:scroll; 
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #002339;
    color:aliceblue;
}

div{
    display:block;
}

.input_container{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}

.input_container h1{
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 15px;
}

.input_container p, .input_container h1{
    text-align: center;
    margin-bottom: 15px;
}

@media screen and (max-width: 700px) {
    .input_container {
        padding-top:48px;
        padding-bottom: 48px;
        padding-right: 60px;
        padding-left: 60px
    }

    .input_container h1{
        font-size: 50px;
    }

    .input_container p{
        font-size: 20px;
    }
}


.form table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-left: 20px;
}
.form td{
    padding:6px;
    border: transparent;
}

.form table .col1{
    text-align: right;
    width: 25%
}

.form{
    margin:auto;    
    display: flex;
    height: 360px;
    width:60vw;
    background-color: #019f55;
    font-size: 17px;
    border-radius: 5px;
    padding: 20px;
    outline: none;  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textInput{
    width: 40%;
    padding: 4px;
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: #333;
}

#cal{
    height: 50px;
    width: 100px;
    background: #002339;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s ease;
    border: 0;
    outline: 0;
}

#cal:hover{
    background-color: rgb(23, 78, 162);
}

#info{
    width: 50%;
    text-align: middle;
    font-size: 17px;
    vertical-align: middle;
    margin-left: 10px;
}

#info2{
    display: none;
    margin-left: 35px;
    margin-right:35px;
    justify-content: center;
    margin-bottom: 25px;
}

@media screen and (max-width: 1200px){
    #info{
        display:none;
    }
    #info2{
        display: block;
    }
    .form table{
        margin-left: 0;
    }
}

.error{
    display: none;
    justify-content: center;
    margin-bottom: 25px;
}

#results{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
#results table{
    background-color: aliceblue;
    color:black;
    text-align: center;  
    width: 40vw;
    border-collapse: collapse;
}
#results table, th, td {
    border: 1px solid;
    padding: 1em;
}
#ref1, #ref2{
    margin-left: 35px;
    margin-right:35px;
    text-align: center;
    margin-bottom: 15px;
}

#ref2{
    margin-bottom: 50px;
}

#results a{
    color:#fff;
}

